# yaml-language-server: $schema=./config.schema.json

# Configuration for package managers
# - Homebrew (formulae and casks)
# - asdf (runtime versions)
# - npm (global packages)

homebrew:
  # This section manages brew formulae and casks
  # - Commented out unused with # lines
  # - Sorted by basename (naturally sorted as tap info is after the comma)
  # - Properly separates casks from formulae
  # - Fully qualified formulae are written as: "basename, tap/path/"
  #   Example: "speedtest, teamookla/speedtest/" -> "teamookla/speedtest/speedtest"
  # - Moved Python stuff to its own section
  formulae:
    main:
      - act
      - asciinema
      - asdf
      - aws-iam-authenticator
      - awscli
      # azure-cli
      # azure/draft/draft
      # azure/functions/azure-functions-core-tools@3
      - b3sum
      - bash
      - bash-completion
      - btop
      # bun is now managed by asdf
      # bun, oven-sh/bun/
      - caddy
      # cmake is for local whisper-cpp build
      - cmake
      - coreutils
      - ctop
      - cue
      # deno is now managed by asdf
      # deno
      - difftastic
      - direnv
      - docker-completion
      # docker-compose-completion has been disabled because it has no upstream support for v2
      # docker-compose-completion
      # docker-slim's project has been renamed to slimtoolkit
      # - docker-slim
      # - doctl
      # Elixir: To get proper :observer.start to work
      # brew reinstall --build-from-source wxwidgets
      - elixir
      - exercism
      - ffmpeg
      - findutils
      - fio
      - gh
      - git
      # - glances
      - gnu-tar
      - go
      - gum
      # heroku/brew/heroku
      # heroku/brew/heroku-node
      # - helm
      - hey
      - htop
      - hyperfine
      - iftop
      # should I keep iperf as well as iperf3?
      - iperf
      - iperf3
      - ipfs
      - jhead
      - jq
      - just
      # - k6
      # - kind
      # - kompose
      # - kube-ps1
      # - kubectx
      # - int128/kubelogin/kubelogin
      # - kubernetes-cli
      # - kustomize
      - libpq
      - nats-io/nats-tools/nats
      # - neovim
      - netlify/netlifyctl/netlifyctl
      - ntfy
      - pnpm # using this instead of npm install -g pnpm
      - pstree
      - pulumi
      - rsync
      # rustup
      # - skaffold
      - sops
      - teamookla/speedtest/speedtest
      - sqlite
      - starship
      # - stern
      - supabase/tap/supabase
      - syncthing
      # my new virtual machine manager - collima too?
      - cirruslabs/cli/tart
      # tinygo is for im-zone tinygo WASM build
      - tinygo-org/tools/tinygo
      - tree
      # wasm-pack is for im-zone rust WASM build
      - wasm-pack
      - watch
      - wget
      - yq
      - yt-dlp

    ai:
      - gemini-cli
      # - opencode # use tap below instead - macOS and Linux (official brew formula, updated less)
      - anomalyco/tap/opencode # macOS and Linux (recommended, always up to date)

    python:
      # Python stuff - TODO(daneroo): python is in asdf now
      - black
      - flake8
      - pipenv
      - poetry
      - ruff
      - uv
      - virtualenv
      # python@3.11 - moved to asdf

    whisper:
      # extra brew version of whisper-cpp
      - whisper-cpp
      # Distinct from whisper-cpp (As in MacWhisper)
      - whisperkit-cli

  casks:
    - 1password-cli
    - antigravity
    - audacity
    - balenaetcher
    - calibre
    - claude-code
    - codex
    - ghostty
    - google-drive
    - losslesscut
    - macwhisper
    - pearcleaner
    - rustdesk
    - stats
    - vlc

asdf:
  # nodejs: ["latest", "lts"] # Latest and LTS version
  nodejs: ["23"] # 24 exists, but not available asdf broken again
  python: ["3.12", "3.11"] # Multiple versions, latest patch
  deno: ["latest"] # Latest stable
  bun: ["latest"] # Latest stable

npm:
  # opencode helper
  - agentic-cli
  # - corepack - deprecated
  - eslint
  #  - moved to gemini-cli formula
  # - "@google/gemini-cli"
  - json
  - npm
  - nx
  - opencode-antigravity-auth
  - pino-pretty
  - serve
  - standard
  - typescript
  - vercel
